# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build output
dist/
dist-ssr/
.build/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# Tailwind cache
.tailwindcache/

# Vite cache (if using Vite)
.vite/

# Next.js build output (if used)
.next/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vercel
.vercel/

# Mac system file
.AppleDouble
